/* Responsive Table */
.tblResposiveWrapper
{
    padding: 1px 1px 0px 1px;
    border: dotted 1px #999;
    margin-bottom: 1em;
    border-bottom: solid 10px #ccc;
}

table.tblResposive
{
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    font-weight: 100;
    background: #333;
    color: #fff;
    text-rendering: optimizeLegibility;
    width: 100%;
}

    table.tblResposive p
    {
        margin: 0;
        padding: 4px 0px;
        display: inline;
    }


    table.tblResposive thead th
    {
        font-weight: normal;
        text-align: left;
    }

    table.tblResposive thead th, table.tblResposive tbody td
    {
        padding: .8rem;
        font-size: 1.4rem;
    }


        table.tblResposive thead th:last-child
        {
            text-align: center;
        }

    table.tblResposive p.grid-action
    {
        text-align: center !important;
    }

        table.tblResposive p.grid-action a
        {
            background-color: #ccc;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0px 0.1em;
        }

            table.tblResposive p.grid-action a:hover
            {
                background-color: #0ca3b6;
            }

    table.tblResposive thead th
    {
        border-bottom: solid 3px #0bbed5;
    }

    table.tblResposive tbody td
    {
        padding: .8rem;
        font-size: 1.4rem;
        color: #444;
        background-color: #efefef;
    }

    table.tblResposive tbody tr:not(:last-child)
    {
        border-top: 1px dotted #999;
        border-bottom: 1px dotted #999;
    }

    table.tblResposive tbody tr:hover > td
    {
        background-color: #e5e5e5 !important;
        cursor: pointer;
    }

        table.tblResposive:not(.removeHover)  tbody tr:hover > td:first-child
        {
            background-color: #0bbed5 !important;
            cursor: pointer;
            color: #fff;
        }


@media screen and (max-width: 768px)
{
    table.tblResposive p
    {
        margin: 0;
        padding: 4px !important;
        display: inline;
    }

    table.tblResposive thead
    {
        display: none;
    }

    table.tblResposive tbody td
    {
        display: block;
        padding: 0px;
        font-size: 12px;
    }

    table.tblResposive p
    {
        margin: 0;
        padding: 4px;
        display: inline;
    }

    table.tblResposive tbody tr td:first-child
    {
        background: #666;
        color: #fff;
    }

    table.tblResposive tbody td:before
    {
        content: attr(data-th);
        font-weight: normal;
        display: inline-block;
        width: 35%;
        background-color: #444;
        padding: 5px 10px;
        border-right: solid 5px #0bbed5;
        color: #999;
        font-size: 12px;
        border-bottom: dotted 1px #555;
    }

    .paging .pages
    {
        text-align: left;
    }
}

/*Custom Style*/

.projectGrid
{
    /*min-height:500px;*/
}

.link
{
    cursor: pointer;
}

.ui-datepicker-trigger
{
    margin: -6px 0px 0px 2px;
}

#MainContent_updpanIRBFile
{
    margin-top: -15px;
    line-height: normal;
}

.btnIRBFile
{
    height: 30px !important;
}

.uploadIcon
{
    height: 25px;
}

#MainContent_updpanInsuranceFile
{
    margin-top: -15px;
    line-height: normal !important;
}

#tblPiDetail td:last-child
{
    text-align: center;
}

.main-content
{
    min-height: 550px;
}

.disable
{
    background-color: #e6e6e6;
    color: #a2a2a2 !important;
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #bcbcbc;
    padding-bottom: 6px !important;
    padding-top: 5px !important;
}
.disable1
{
    background-color: #e6e6e6;
    color: #a2a2a2 !important;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #bcbcbc;
    padding:5px 15px 6px 15px !important;

}

.btn-file
{
    position: relative;
    overflow: hidden;
    padding-bottom: 7px;
    padding-top: 6px;
}

    .btn-file input[type=file]
    {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 13px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
        width: 108px;
        height: 30px;
    }

.SponsorCRO
{
    width:435px;
}


