/* Ui Dialog Customized for Windows 8 Style */
/* Author: Vinay R. Indoria [ www.indoria.com ] */

.ui-dialog
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 10px 10px 10px;
    width: 300px;
    overflow: hidden;
    background: none !important;
    border: none;
    background-color: #04b9ca !important;
}

    .ui-dialog .ui-dialog-titlebar
    {
        padding: 0em;
        position: relative;
        /*height: 40px; modified by Ejaz Waquif DT:9/30/2014*/
        height: 32px;
    }

    .ui-dialog .ui-dialog-title
    {
        float: left;
        margin: 0;
        /*padding-top: 10px !important; modified by Ejaz Waquif DT:9/30/2014*/
        padding-top: 5px !important;
        font-size: 14px !important;
        color: #111;
        font-weight: normal;
    }

    .ui-dialog .ui-dialog-titlebar-close
    {
        position: absolute;
        right: .3em;
        top: 20%;
        width: 50px;
        margin: -10px 0 0 0;
        padding: 0px 1px 0px 0px;
        height: 30px;
        background-image: none !important;
        background-color: #e14654;
    }

        .ui-dialog .ui-dialog-titlebar-close span
        {
            display: block;
            margin: 0;
            background-color: #e14654;
            width: 50px;
            height: 30px;
            background-image: url(/Images/jq-ui-close.png) !important;
            background-position: 27px 10px;
        }

        .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
        {
            padding: 0;
            background-color: #e14654;
            width: 50px;
            background-image: none !important;
            border: none !important;
        }

    .ui-dialog .ui-dialog-content
    {
        position: relative;
        border: 0;
        padding: .5em 1em;
        background: none;
        overflow: auto;
        zoom: 1;
        background: none !important;
        border: none;
        background-color: #fff !important;
        font-size:13px !important;
    }

    .ui-dialog .ui-dialog-buttonpane
    {
        text-align: left;
        border-width: 0 0 0 0;
        background-image: none;
        margin: 0;
        padding: .3em 1em .5em .4em;
    }

        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
        {
            float: right;
        }

        .ui-dialog .ui-dialog-buttonpane button
        {
            margin: .5em .4em .5em 0;
            cursor: pointer;
            background: none !important;
            background-color: #efefef !important;
            border: solid 1px #ccc !important;
            color: #06C !important;
        }

            .ui-dialog .ui-dialog-buttonpane button:hover
            {
                /*background-color: #d5ecfc !important;*/
                /*border: solid 1px #69b3e8 !important;
                color: #444 !important;*/
                background-color: #e93f75 !important;
            }

    .ui-dialog .ui-resizable-se
    {
        width: 14px;
        height: 14px;
        right: 3px;
        bottom: 3px;
    }

.ui-draggable .ui-dialog-titlebar
{
    cursor: move;
    background: none !important;
    border: none;
    background-color: #04b9ca !important;
}

/*Style added by Ejaz Waquif*/
.ui-dialog-titlebar .ui-icon-closethick
{
    background-position: 27px 10px;
    left:0px;
    top:0px;
    width:70px !important;
    height:30px !important;
    }

.ui-dialog-titlebar .ui-dialog-titlebar-close
{
    border:none !important;

}
.ui-dialog-titlebar .ui-button-text
{
    display:none !important;
}

.ui-dialog-buttons .ui-dialog-buttonset .ui-button
{
    margin-top:-5px !important;
    margin-bottom:-5px !important;
    background-color:#e41053 !important;
    color:white !important;
}

.ui-dialog-buttons .ui-dialog-buttonpane
{
    border-top:1px dotted #808080 !important;
}

.ui-dialog-title
{
    color:white !important;
}

.ui-widget-overlay
{
    /*background-color:black !important;*/
    opacity:0.5;
}

/*To change Jquery UI image path */
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url("/images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	color: #222222;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url("/images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}

.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url("/images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}

.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url("/images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url("/images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}

.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url("/images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;
	color: #363636;
}

.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url("/images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;
	color: #cd0a0a;
}

.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("/images/ui-icons_222222_256x240.png") !important;
}
.ui-widget-header .ui-icon {
	background-image: url("/images/ui-icons_222222_256x240.png");
}
.ui-state-default .ui-icon {
	background-image: url("/images/ui-icons_888888_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("/images/ui-icons_454545_256x240.png");
}
.ui-state-active .ui-icon {
	background-image: url("/images/ui-icons_454545_256x240.png");
}
.ui-state-highlight .ui-icon {
	background-image: url("/images/ui-icons_2e83ff_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("/images/ui-icons_cd0a0a_256x240.png");
}

.ui-widget-overlay {
	background: #aaaaaa url("/images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30); /* support: IE8 */
}
.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa url("/images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30); /* support: IE8 */
	border-radius: 8px;
}
ul.level2{
    height:400px;
    overflow-y:auto; 
     overflow-x:hidden;
}
ul.level2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

ul.level2::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

ul.level2::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

ul.level1.static
{
    z-index:1000;
}
/*End of To change Jquery UI image path */


/*Styles for paging elements*/
.nextPagingDisable
{
    background-color: rgb(240, 240, 240);
    color: #c8c8c8;
    cursor: default !important;
}

    .nextPagingDisable:hover
    {
        background-color: rgb(240, 240, 240) !important;
        color: #c8c8c8 !important;
        cursor: default !important;
    }

.nextprev
{
    cursor: pointer;
}
/*Styles for paging elements*/
